<% @items.each do |item|%>
    <div class="item-list">
        <%= link_to(item.using_month,"/item/month/#{item.using_month}") %>月
        <%= item.using_day%>日
        <%= item.price%>円
        <%= item.category%>
        <% if item.product_name%>
            <%= item.product_name%>
        <% end %>
        [<%= link_to("編集","/item/#{item.id}/edit")%>]
        [<%= link_to("削除","/item/#{item.id}/destroy",{method: "post"})%>]<br>
    </div>
    <% end %>
