<div class="month">
    <%= @month.using_month %>月
</div>

<div class="group">
<div class="expense">
    <p class="sub_title">支出</p>
    <% expense = 0 %>
    <% @items.each do |item| %>
    <% if item.category == "現金" || item.category == "クレジットカード"%>
        <%= item.using_month %>月
        <%= item.using_day %>日
        ¥<%= item.price %>
        <% expense += item.price %>
        <%= item.category %>
        <%= item.product_name %><br>
    <% end %>
    <% end %>
    <p>合計金額:   ¥<%= expense %></p><br>
</div>

<div class="income">
    <p class="sub_title">収入</p>
    <% income = 0 %>
    <% @items.each do |item| %>
    <% if item.category == "収入"%>
        <%= item.using_month %>月
        <%= item.using_day %>日
        ¥<%= item.price %>
        <% income += item.price %>
        <%= item.category %><br>
    <% end %>
    <% end %>
    <p>合計金額:   ¥<%= income %></p><br>
</div>
</div>

<div class="deduct">
    <p class="sub_title">収支</p>
    <% deduct = income - expense %>
    <span id="value">¥
        <span id="deduct"><%= deduct %></span>
    </span>
</div>




    