<!DOCTYPE html>
<html>
  <head>
    <title>HouseholdAccountApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= javascript_include_tag "check" %>
    <header>
      <%= link_to("Top","/") %>
      <%= link_to("一覧","/item/index")%>
      <%= link_to("新規登録","/user/new")%>
      <%= link_to("ログイン","/login")%>
      <%= link_to("ログアウト","/logout",{method: "post"})%>
      <% if session[:user_id] %>
        <%= link_to(@current_user.name,"/user/edit") %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
